advent-of-code-data==2.0.3
aocd-example-parser==2023.12.20
astroid==3.3.5
beautifulsoup4==4.12.3
cfgv==3.4.0
dill==0.3.9
distlib==0.3.9
filelock==3.16.1
identify==2.6.2
isort==5.13.2
mccabe==0.7.0
nodeenv==1.9.1
Pebble==5.0.7
platformdirs==4.3.6
pre_commit==4.0.1
pylint==3.3.1
PyYAML==6.0.2
soupsieve==2.6
tomli==2.1.0
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.27.1
